* {
    overflow: hidden;
}
.app {
    width: 1280px;
    height: 100vh;
    border:1px solid black;
    display: block;
}

.app-header {
    text-align: center;
    height: 5vh;
    line-height: 5vh;
}
.app-canvas {
    width:100%;
    height: 70vh;
    border: 2px solid black;
    box-sizing:border-box;
    z-index: 100;
    overflow:hidden;
    padding:0;
}
.canvas {
    width:100%;
    height: 70vh;
    box-sizing:border-box;
    z-index: 100;
    overflow:hidden;
}
.app-menu {
    width:100%;
    height: 25vh;
    padding:0;

}

#colorButton {
    width: 25px;
    height: 25px;
}

.app-menu-buttons {
    height: 25vh;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 25vh;
    width: 100%;
}
.app-menu {
    height: 25vh;
}

form {
    margin-top:15px;
    width:auto;
    display: flex;
}

.form-group {
    margin:0;
    margin-left:75px;
}
.form-control {
    width: 100px;
    height: 25px;
    margin-bottom: 15px;
    box-shadow: none;
}


.buttons {
    width: 100%;
    height: auto;
}
.myBtn {
    width: 250px;
    height: 50px;
    background-color: lightgray;
    margin: 15px 0;
    box-shadow: none;
    outline:none;
    float: right;
    margin-right: 17px;
    border:1px solid black;
    
}
.myBtn:hover {
    background-color: lightgray;
}

.border {
    border:2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
  }