<div class="app">
    <div class="container app-header">
        <div class="row">
            <div class="col-lg-12">
                {{appTitle}}
            </div>
        </div>
    </div>
    <div class="container app-canvas">
        <div class="row">
            <div class="col-lg-12 canvas">
                <app-banner *ngFor='let banner of banners' id={{banner.id}} (click)='chooseBanner(banner.id)'
                        [ngStyle]='setCurrentColor(currentBlockId)' [banner]='banner'></app-banner>
            </div>
        </div>
    </div>
    <div class="container app-menu">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 app-menu-buttons">
                <div class="menu">
                    <div class="row">
                        <div class="col lg-12 col-md-12 col-sm-12 ">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 app-menu" *ngIf='closeMenu'>
                                    <form>
                                        <div class="form-group">
                                            <label>
                                                width:
                                            </label>
                                            <input type="number" class='form-control' name='width' id='width'
                                                (keydown)='reWidth(currentBlockId, $event)' [(ngModel)]='currentBlockWidth'
                                                placeholder= {{setWidth(currentBlockId)}}>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                height:
                                            </label>
                                            <input type="number" class='form-control' name='height' id='height' [(ngModel)]='currentBlockHeight'
                                                (keydown)='reHeight(currentBlockId, $event)'
                                                placeholder= {{setHeight(currentBlockId)}}>

                                        </div>
                                    
                                        <div class="form-group">
                                            <label>
                                                Color
                                            </label><br>
                                            <input type='button' class=' btn form-control' [ngStyle]='setCurrentColor()'
                                                (click)='ChangeColor(currentBlockId)' id='colorButton'>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 app-menu-buttons">
                <div class="buttons">
                    <button class='btn myBtn' [disabled]='isFullList'  (click)='CreateBanner()'>Create
                        baner</button>
                    <button class='btn myBtn' *ngIf='closeMenu' (click)='DeleteBanner(currentBlockId)'>Delete
                        baner</button>
                </div>
            </div>
        </div>
    </div>
</div>