/* You can add global styles to this file, and also import other style files */
* {
    margin:0 auto;
    padding:0 auto;
}

.container {
    min-width: 1200px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

